body {
  background-color: #eee;
}

#sidebar {
  padding: 1.625rem 0;
}

#sidebar #docs-nav {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
@media (min-width: 767px) and (min-height: 767px) {
  #sidebar #docs-nav.fixed {
    position: fixed;
    top: 1.625rem;
    width: 100%;
  }
}

#sidebar #docs-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#sidebar #docs-nav ul li {
  display: block;
  background-color: white;
}

#sidebar #docs-nav ul li a {
  display: block;
  border-top: 1px solid #eee;
  padding: 0.5rem 1rem;
  color: #66c299;
  transition: color 0.25s ease-in-out 0s;
}

#sidebar #docs-nav ul li a.active {
  border-left: 3px solid #eee;
}

#sidebar #docs-nav ul li a:active,
#sidebar #docs-nav ul li a:link,
#sidebar #docs-nav ul li a:visited {
  color: #66c299;
}

#sidebar #docs-nav ul li a:focus,
#sidebar #docs-nav ul li a:hover {
  color: #3d9970;
  text-decoration: none;
}

#sidebar #docs-nav ul li ul {
  display: none;
}

#sidebar #docs-nav ul li ul li a {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  max-width: 236px;
  border-right: 1px solid #eee;
  font-size: 0.85rem;
  line-height: 1.4;
}

#sidebar #docs-nav ul li:hover ul {
  display: block;
}

#docs-main {
  background-color: #fff;
  position: relative;
}

#docs-main .scratch-bg {
  margin-bottom: 2.762430939%;
}

#docs-main .custom-col {
  border: 2px solid white;
}

#docs-main article > p:first-of-type, #docs-main article > h2:first-of-type {
  margin-top: 1.625rem;
}

@media (min-width: 767px) {
  #docs-main {
    padding-right: 0;
  }
}

#masthead {
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
}

#masthead .title div {
  font-family: "Alegreya","Georgia",serif;
  font-size: 4rem;
  line-height: 3.5rem;
}

#masthead .title h1 {
  margin: 0 auto;
  font-weight: 300;
}

pre {
  background-color: transparent;
  border: 0;
  padding: 0;
}

pre code {
  border: 0;
}

main img, main .scratch-bg {
  border-radius: 4px;
  display: block;
}

main > img {
  margin-top: 1.625rem;
}

#header {
  background-color: rgb(61,153,112);
}

@media (min-width: 767px) {
  #header {
    z-index: 20;
  }
  nav ul.main-nav li a:link, nav ul.main-nav li a:active, nav ul.main-nav li a:visited {
    background-color: transparent;
  }
  nav ul.main-nav li a:hover, nav ul.main-nav li a:focus {
    background-color: rgba(0,0,0,0.05);
  }
}

[class^="hljs"], [class*=" hljs"], [class^="hljs-"], [class*=" hljs-"], [class^="hljs"] span, [class*=" hljs"] span, [class^="hljs-"] span, [class*=" hljs-"] span {
  line-height: 1.4;
}

.example {
  border: 1px solid #eee;
  border-radius: 4px;
}

.example .label {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  color: #ccc;
}

.example .ion-load-d:before {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#docs-main .scratch-bg-example .scratch-bg {
  margin-top: 1.625rem;
  margin-bottom: 1.625rem;
  background-image: url('https://unsplash.it/600/600/?random');
}

.image-link-example {
  margin-bottom: 1.625rem;
}

.image-link-example img {
  border-radius: 0;
}

.toggles-example {
  padding-bottom: 1.625rem;
}

.slider-example, .slider-example .glide {
  margin-bottom: 1.625rem;
}
