main.sidebar {
	color: $white;
	line-height: 1.5;
	font-family: GTWalsheimPro, sans-serif;
	font-weight: 300;
	font-size: 1.125rem;

	article {
		margin: 0;
		flex-shrink: 1;
	}

	display: flex;
	justify-content: center;
	align-items: flex-start;

	aside {
		display: none;
		min-width: 150px;
		max-width: 180px;
		margin-left: 10vw;

		h3 {
			color: $blue;
			margin: 1rem 0 0.3rem 0;
		}

		ul {
			margin: 0.2rem 0;
			padding-left: 1rem;
			list-style-type: none;

			li a {
				color: white;
				text-decoration: none;
			}

			li::before {
				content: none;
			}
		}
	}
}

@media (min-width: 768px) {
	main.sidebar aside {
		display: block;
	}
}
