main.single {
	padding-top: 10rem;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: row-reverse;
	margin: auto;
	max-width: 980px;
	color: $white;
	line-height: 1.5;
	font-family: GTWalsheimPro, sans-serif;

	.mainInfo {
		// flex-grow: 1;
		text-align: right;
		h1 {
			margin: 0;
			color: $white;
			position: relative;
			display: inline;
			background-image: linear-gradient(120deg, $pink 0%, $pink 100%);
			background-repeat: no-repeat;
			background-size: 100% 40%;
			background-position: -2% 90%;
		}
		margin-left: 5rem;
	}

	.bodyText {
		width: 700px;

		h2 {
			margin: 0;
			font-weight: 500;
			color: white;
			position: relative;
			display: inline;

			&::after {
				content: " ";
				position: absolute;
				width: 95%;
				left: -0.2rem;
				bottom: 5%;
				height: 40%;
				background-color: $pink;
				z-index: -1;
			}
		}

		div.links {
			min-width: 380px;
		}
		p {
			margin: 0;
			margin-bottom: 0.5rem;
			font-size: 1.125rem;
			font-weight: 300;
			display: block;
		}

		ul {
			margin: 0;
			margin-top: 1rem;
			padding: 0;

			h3 {
				display: inline;
				position: relative;
				font-size: 1.3rem;
				font-weight: 400;
				color: $white;

				&::after {
					content: " ";
					position: absolute;
					width: 95%;
					left: -0.2rem;
					bottom: 5%;
					height: 40%;
					background-color: $pink;
					z-index: -1;
				}
			}

			font-size: 1.125rem;
			font-weight: 300;

			li::before {
				display: none;
			}
		}

		a {
			margin-top: 2rem;
			display: block;
			float: left;
			padding: 0.5rem 1rem;
			margin-right: 1.5rem;
			background-color: $pink;
			text-align: center;
			color: white;
			text-decoration: none;
			font-size: 1.3rem;
			font-weight: 400;
			text-transform: uppercase;

			&:hover {
				background-color: lighten($pink, 10%);
			}
			&:active {
				background-color: darken($pink, 10%);
			}
		}
	}

	div.controls a {
		display: block;
		float: right;
		text-transform: uppercase;
		text-decoration: none;
		color: white;
		margin-left: 1rem;
		margin-top: 1rem;
	}
}

@media screen and (max-width: 768px) {
	main.single {
		padding-top: 5rem;
		flex-direction: column;
		.mainInfo {
			display: flex;
			align-items: flex-start;
			flex-direction: column-reverse;
			margin: 0;
			text-align: left;
			img {
				margin: 2rem 0;
			}
		}

		.bodyText {
			width: 100%;
		}

		div.controls {
			position: fixed;
			height: 3rem;
			bottom: 0;
			background-color: $darkPurple;
			z-index: 5;
			left: 0;
			right: 0;
			margin: 0;
			padding-bottom: 1rem;

			a[rel~="prev"] {
				position: absolute;
				right: 2rem;
				bottom: 0.6rem;
				margin: 0;
			}
			a[rel~="next"] {
				position: absolute;
				left: 2rem;
				bottom: 0.6rem;
				margin: 0;
			}
		}
	}
}
