$darkPurple: #231549;
$lightPurple: #7225a0;
$pink: #f82aaa;
$blue: #0abac7;
$yellow: #fad74a;
$white: #fff;

main.portfolio {
	margin: auto;
	height: unset;
	text-justify: inter-word;
	text-align: justify;
	position: relative;
	position: absolute;
	top: 0;
	bottom: 0;

	.circle {
		position: absolute;
		width: 80%;
		padding-top: 80%;
		background-color: $lightPurple;
		opacity: 0.5;
		left: 50%;
		border-radius: 100%;
		z-index: -5;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.text {
		position: absolute;
		max-width: 40rem;
		width: 100%;
		top: 46%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}
	article {
		display: inline;
		font-size: 2rem;
		line-height: 150%;
		font-weight: 300;
		text-transform: capitalize;

		a {
			text-decoration: none;
			color: white;
			display: inline;
			white-space: wrap;
			position: relative;
			margin: 0;
			padding: 0.5rem 0;
			background-image: linear-gradient(120deg, #f82aaa 0%, #f82aaa 100%);
			background-repeat: no-repeat;
			background-size: 0 32%;
			background-position: 0 75%;
			transition: opacity 0.5s ease-out, background-size 0.3s 0.1s ease-out;
			z-index: 2;
		}

		.imgWrapper {
			position: absolute;
			width: 70%;
			padding-top: 70%;
			left: 50%;
			top: 50%;
			border-radius: 100%;
			z-index: 0;
			overflow: hidden;
			transform: translate(-50%, -50%);
			pointer-events: none;

			img {
				position: absolute;
				margin: auto;
				top: 100%;
				right: 0;
				width: 100%;
				height: 100%;
				transition: all 0.3s 0s ease-out;
				opacity: 0.3;
			}
		}
	}

	article.hover {
		.imgWrapper img {
			top: 0;
			opacity: 1;
			transition: all 0.3s 0.3s ease-out;
		}
		a {
			background-size: 100% 32%;
		}
	}
	article.notHover {
		a {
			opacity: 0.2;
		}
	}

	article:not(:first-of-type)::before {
		content: "/";
		position: relative;
		opacity: 1;
		color: $pink;
		z-index: 3;
		transition: all 0.3s ease-out;
	}
	article.hover::before,
	article.notHover::before {
		opacity: 0.3;
	}
}

@media screen and (max-width: 768px) {
	main.portfolio {
		padding: 4rem 0rem;

		.text {
			position: static;
			transform: none;
			max-width: 430px;
			min-height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		text-align: left;
		article {
			display: block !important;
			font-size: 6.5vw;
			position: static;
			margin: 0;

			a {
				background-size: 50% 20%;
				background-position: 0 70%;
			}
		}

		article.hover {
			.imgWrapper {
				opacity: 0;
			}
		}

		article::before {
			display: none;
		}

		.circle {
			position: fixed;
			top: 50%;
			width: 120%;
			padding-top: 120%;
		}
	}
}

@media screen and (max-width: 768px) and (min-width: 480px) {
	main.portfolio {
		.text {
			margin: auto;
		}
		article {
			font-size: 2rem;
		}

		.circle {
			width: 500px;
			padding-top: 500px;
		}
	}
}
