$darkPurple: #231549;
$lightPurple: #7225a0;
$pink: #f82aaa;
$blue: #0abac7;
$yellow: #fad74a;
$white: #fff;

@import "fonts";

* {
	box-sizing: border-box;
}

html {
	background-color: $darkPurple;
}

body {
	margin: 0 auto !important;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

div.content {
	margin: 0 auto;
	position: relative;
	width: 90%;
	height: 100%;
	max-width: 1440px;
}

main {
	padding-top: 6rem;
	padding-bottom: 2rem;
	width: 100%;
	height: 100%;
}
@import "general";
@import "sidebar";
@import "works";
@import "header";
@import "single";
@import "search";
@import "404";
@import "index";

// Make header behave in admin view
.customize-support header {
	top: 32px !important;
}
