$darkPurple: #231549;
$lightPurple: #7225a0;
$pink: #f82aaa;
$blue: #0abac7;
$yellow: #fad74a;
$white: #fff;

@import "fonts";

* {
	box-sizing: border-box;
}

html {
	background-color: $darkPurple;
	min-height: 100%;
}

body {
	margin: 0 auto !important;
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

div.content {
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	min-height: 100%;
	max-width: 1296px;
	display: flex;
}

main {
	padding-top: 6rem;
	padding-bottom: 2rem;
	width: 100%;
	min-height: 100% !important;
}

@import "general";
@import "sidebar";
@import "works";
@import "header";
@import "single";
@import "search";
@import "404";
@import "index";
@import "experience";

// Make header behave in admin view
.admin-bar header {
	top: 32px !important;
}

#main {
	min-height: 100% !important;
	height: unset !important;
}
