@font-face {
	font-family: "GTWalsheimPro";
	src: url("../fonts/GTWalsheimProRegular.woff2") format("woff2"), url("../fonts/GTWalsheimProRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GTWalsheimPro";
	src: url("../fonts/GTWalsheimProMedium.woff2") format("woff2"), url("../fonts/GTWalsheimProMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "GTWalsheimPro";
	src: url("../fonts/GTWalsheimProBlack.woff2") format("woff2"), url("../fonts/GTWalsheimProBlack.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "GTWalsheimPro";
	src: url("../fonts/GTWalsheimProThin.woff2") format("woff2"), url("../fonts/GTWalsheimProThin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "GTWalsheimPro";
	src: url("../fonts/GTWalsheimProBold.woff2") format("woff2"), url("../fonts/GTWalsheimProBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "GTWalsheimPro";
	src: url("../fonts/GTWalsheimProUltraLight.woff2") format("woff2"), url("../fonts/GTWalsheimProUltraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "GTWalsheimPro";
	src: url("../fonts/GTWalsheimProLight.woff2") format("woff2"), url("../fonts/GTWalsheimProLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "GTWalsheimPro";
	src: url("../fonts/GTWalsheimProUltraBold.woff2") format("woff2"), url("../fonts/GTWalsheimProUltraBold.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
