/* Color classes (modify as needed) */

$colors: "aqua" $aqua, "blue" $blue, "navy" $navy, "teal" $teal, "green" $green, "olive" $olive, "lime" $lime, "yellow" $yellow, "orange" $orange, "red" $red, "fuchsia" $fuchsia, "purple" $purple, "maroon" $maroon, "white" $white, "gray" $gray, "silver" $silver, "black" $black;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}-bg {
    background-color: $value;
  }
}
