/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

#header {
  background-color: $olive;
  .logo {
    display: block;
    float: left;
    margin: 11px auto;
    img {
      width: 245px;
      height: 58px;
    }
  }
}

/* Adds dropdown support, gives a good example of nesting
 * with SCSS. The classes are specific to the Scratch
 * Theme for WordPress. If you are not using Scratch, you
 * can simply get rid of them.
 */

nav {
  ul.main-nav {
    display: none;
    list-style: none;
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 80px;
    left: 0;
    margin: 0;
    padding: 0;
    @extend .clearfix;
    li {
      display: block;
      text-align: center;
      a {
        background-color: $olive;
        color: $white;
        display: block;
        padding: 0.5rem 1rem;
        transition: background-color 0.25s ease-in-out 0s;
        &:link, &:active, &:visited {
          background-color: $olive;
          color: $white;
        }
        &:hover, &:focus {
          background-color: darken($olive, 5%);
          text-decoration: none;
        }
      }
      &.current_page_item {
        a {
          background-color: darken($olive, 5%);
          &:link, &:active, &:visited {
            background-color: darken($olive, 5%);
          }
        }
      }
    }
    ul.sub-menu {
      display: none;
    }
  }
}

@media (min-width: 767px) {
  nav ul.main-nav {
    position: relative;
    width: auto;
    top: 0;
    float: right;
    display: block !important;
    li {
      float: left;
      a {
        padding: 24px 1rem;
        &:link, &:active, &:visited {}
        &:hover, &:focus {}
      }
    }
    ul.sub-menu {
      background-color: $olive;
      padding: 0;
      position: absolute;
      top: 100%;
      li {
        float: none;
        position: relative;
        text-align: left;
        a {
          padding: 0.5rem 1rem;
          background-color: $olive;
          color: $white;
          &:link, &:active, &:visited {
            background-color: $olive;
            color: $white;
          }
          &:hover, &:focus {
            background-color: darken($olive, 5%);
            text-decoration: none;
          }
        }
      }
      ul {
        position: absolute;
        left: 100%;
        top: 0;
      }
    }
  }
  nav ul.main-nav li:hover > ul.sub-menu {
    display: block;
  }
}

.nav-toggle {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  font-size: 2rem;
  @include m {
    top: 1rem;
  }
  @media (min-width: 767px) {
    display: none;
  }
  color: $white;
  cursor: pointer;
  i {
    vertical-align: middle;
  }
  transition: transform 0.25s ease-in-out 0s;
  &.active {
    transform: rotate(-90deg);
  }
}
