@import "../core/scss/default-variables";
@import "config/mixins";
@import "config/variables";
@import "config/global";

body.login {
  #login_error, .message {}

  div#login {
    h1 {
      a {
        background-image: url("../img/login-logo.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-bottom: 49px;
        width: 100%;
        height: 100%;
      }
    }

    form#loginform, form#registerform, form#lostpasswordform {
      p {
        label {
          color: $black;
          font-family: $font-headings;
          font-weight: 700;
        }

        &.forgetmenot {
          input#rememberme {}
        }

        &.submit {
          input#wp-submit {
            @extend .button;
          }
        }
      }
      input {}
      input#user_login {}
      input#user_pass {}
    }

    p#nav {
      a {
        @extend .a;
      }
    }

    p#backtoblog {
      a {
        @extend .a;
      }
    }
  }
}
